.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.navbar div{
    display: flex;
    align-items: center;
}

.navbar div img{
    margin:0 15px;
}

.link{
    color: #222;
    font-size: 13px;
    text-decoration: none;
}

.navbar a{
    margin-right: 20px;
}

.img{
    height: 25px;
    width: 25px;
    border-radius: 100%;
}